# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/tgram?schema=public

# JWT
JWT_SECRET=super_secret_jwt_key_change_me
JWT_EXPIRES_IN=7d

# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Admin Seed Credentials (Used only by prisma seed)
ADMIN_USERNAME=ellnihbous
ADMIN_PASSWORD=122
SPECIAL_USERNAME=Salmaa
SPECIAL_PASSWORD=1234
